[Unit]
Description=ACC Python Application Service
Requires=baresip.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/pcuv-app/main.py
WorkingDirectory=/usr/share/pcuv-app
Restart=always
RestartSec=5
User=root
# output will be displayed in real-time
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
